WebServiceClientTp1/xml-resources/web-service-references/CalculatorService/wsdl/localhost_8080/WebApplication/CalculatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tp2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tp2/" name="CalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://tp2/" schemaLocation="http://localhost:8080/WebApplication/CalculatorService?xsd=1"/>
</xsd:schema>
</types>
<message name="sum">
<part name="parameters" element="tns:sum"/>
</message>
<message name="sumResponse">
<part name="parameters" element="tns:sumResponse"/>
</message>
<message name="mult">
<part name="parameters" element="tns:mult"/>
</message>
<message name="multResponse">
<part name="parameters" element="tns:multResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="min">
<part name="parameters" element="tns:min"/>
</message>
<message name="minResponse">
<part name="parameters" element="tns:minResponse"/>
</message>
<portType name="Calculator">
<operation name="sum">
<input wsam:Action="http://tp2/Calculator/sumRequest" message="tns:sum"/>
<output wsam:Action="http://tp2/Calculator/sumResponse" message="tns:sumResponse"/>
</operation>
<operation name="mult">
<input wsam:Action="http://tp2/Calculator/multRequest" message="tns:mult"/>
<output wsam:Action="http://tp2/Calculator/multResponse" message="tns:multResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://tp2/Calculator/divRequest" message="tns:div"/>
<output wsam:Action="http://tp2/Calculator/divResponse" message="tns:divResponse"/>
</operation>
<operation name="min">
<input wsam:Action="http://tp2/Calculator/minRequest" message="tns:min"/>
<output wsam:Action="http://tp2/Calculator/minResponse" message="tns:minResponse"/>
</operation>
</portType>
<binding name="CalculatorPortBinding" type="tns:Calculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="min">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorService">
<port name="CalculatorPort" binding="tns:CalculatorPortBinding">
<soap:address location="http://localhost:8080/WebApplication/CalculatorService"/>
</port>
</service>
</definitions>